body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    padding: 20px;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #666;
}


main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

.contact h2 {
    margin-left: 16px;
    margin-right: 16px;
    font-size: 30px;
}

/* Styles for product containers */
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Styles for individual products */
.product {
    text-align: center;
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

/* Styles for images within products */
.product img {
    width: 100%;
    border-radius: 8px;
}


footer {
    background-color: #efefef;
    text-align: center;
    padding: 20px 0;
}

.footer-icons a {
    color: #333;
    text-decoration: none;
    margin-right: 20px;
    font-size: 24px; /* Adjust the icon size */
}

.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    display: inline;
    margin-right: 20px;
}

.footer-links li a {
    margin: 0;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    cursor: pointer;
    text-decoration: none;
}

.footer-links li a:visited {
    color: #1a7ac4;
    transition: color .12s ease-out 0s;
}

.copyright {
    margin: 0;
    margin-top: 14px;
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
}

.copyright a {
    margin: 0;
    font-size: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4em;
    cursor: pointer;
    text-decoration: none;
}

.copyright a:visited {
    color: #1a7ac4;
    transition: color .12s ease-out 0s;
}


.logo {
    font-size: 14px;
}