<div class="channels">
   <div class="facebook">
      <div class="logo">
         <a href="https://www.facebook.com/munamiicupcakes"><i
               class="fa fa-facebook"></i><span>munamiicupcakes</span></a>
      </div>
   </div>
   <div class="instagram">
      <div class="logo">
         <a href="https://www.instagram.com/munamii.cakery/"><i
               class="fa fa-instagram"></i><span>@munamii.cakery</span></a>
      </div>
   </div>
   <div class="whatsapp">
      <div class="logo">
         <a
            href="https://se.pinterest.com/pin/create/button/?description=LLeg%C3%A1mos+a+tu+casa%21&media=https%3A%2F%2Fd2j6dbq0eux0bg.cloudfront.net%2Fimages%2F16830190%2F1498589015.jpg&url=https%3A%2F%2Fmunamii.com%2F"><i
               class="fa fa-whatsapp"></i><span>WhatsApp</span></a>
      </div>
   </div>
</div>