<footer>
    <div class="container">
        <div class="footer-icons">
            <a href="https://facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmunamii.com%2F"><i class="fa fa-facebook"></i><span>Share</span></a>
            <a href="https://twitter.com/intent/post?url=https%3A%2F%2Fmunamii.com%2F&text=LLeg%C3%A1mos%20a%20tu%20casa!%3A"><i class="fa fa-twitter"></i><span>Share</span></a>
            <a href="https://se.pinterest.com/pin/create/button/?description=LLeg%C3%A1mos+a+tu+casa%21&media=https%3A%2F%2Fd2j6dbq0eux0bg.cloudfront.net%2Fimages%2F16830190%2F1498589015.jpg&url=https%3A%2F%2Fmunamii.com%2F"><i class="fa fa-whatsapp"></i><span>Pin</span></a>
        </div>
        <ul class="footer-links">
            <li><a href="../delivery/delivery.html">Delivery times</a></li>
            <li><a href="../payment/payment.html">Payment information</a></li>
            <li><a href="../policy/policy.html">Return Policy</a></li>
        </ul>
        <div class="copyright">
            <span>©</span>
            <span>Munamii Cakery</span>
            <span>.</span>
            <a href="#">Report abuse</a>
        </div>
        <div class="logo">
            <span>Powered by</span>
        </div>
    </div>
</footer>