<footer>
    <div class="container">
        <div class="footer-icons">
            <a href="#"><i class="fa fa-facebook"></i><span>Share</span></a>
            <a href="#"><i class="fa fa-twitter"></i><span>Share</span></a>
            <a href="#"><i class="fa fa-whatsapp"></i><span>Pin</span></a>
        </div>
        <ul class="footer-links">
            <li><a href="../delivery/delivery.html">Delivery times</a></li>
            <li><a href="../payment/payment.html">Payment information</a></li>
            <li><a href="../policy/policy.html">Return Policy</a></li>
        </ul>
        <div class="copyright">
            <span>©</span>
            <span>Munamii Cakery</span>
            <span>.</span>
            <a href="#">Report abuse</a>
        </div>
        <div class="logo">
            <span>Powered by</span>
        </div>
    </div>
</footer>